body, html, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#header, #sidebar-header, .section-title, .references-title {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#description {
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

#container {
  margin: 0 auto;
  width: 1280px;
  overflow: auto;
}

#sidebar {
  float: left;
  width: 250px;
  margin-right: 10px;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu li a {
  display: block;
  text-align: center;
  min-height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #4183c4;
}

.menu li a:hover {
  background-color: rgb(221, 221, 221);
}

.menu li a:visited {
  color: #4183c4;
}

.sections {
  float: left;
  width: 1000px;
}

.references {
  width: 1280px;
  margin: 0 auto;
  margin-top: 10px;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

#code-block {
  margin: 10px auto;
  width: 80%;
}

#code-block h3 {
  text-align: center;
}