body, html, h1, h2 {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

#header {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
}

#description {
  margin: 20px;
  text-align: center;
  font-size: 20px;
}

#navbar {
  background-color: #e7e7e7;
  color: white;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.nav {
  margin: 0;
}

.nav li {
  list-style: none;
  display: inline-block;
}

.nav li a {
  display: block;
  min-height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav li a:hover {
  color: #4183c4;
}

.section {
  padding-top: 93px; 
  margin-top: -93px;
}

.section-title {
  background-color: #2d2d2d;
  color: white;
  text-align: center;
}

#footer {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  text-align: center;
}

#navbar.stick {
  background-color: rgb(178, 199, 202);
}

#code-block {
  margin: 10px auto;
  width: 80%;
}

#code-block h3 {
  text-align: center;
}
