.wrap {
  border: 15px solid gray;
  margin: 10px;
  padding: 5px;
}
.header {
  background-color: yellow;
  border: 25px solid gray;
  margin: 20px;
  padding: 15px;
}
.absolute {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 100px;
  right: 50px;
  z-index: 10;
  border: 15px solid gray;
  margin: 10px;
  padding: 5px;
  background-color: green;
}
.relative {
  position: relative;
  width: 300px;
  height: 300px;
  border: 15px solid gray;
  margin: 10px;
  padding: 5px;
}
.float-wrap {
  overflow: auto;
  border: 15px solid gray;
  margin: 15px;
  padding: 15px;
  height: 300px;
}
.float {
  float: left;
  width: 50px;
  height: 50px;
  border: 25px solid gray;
  margin: 20px;
  padding: 15px;
  background-color: blue;
}
.float-right {
  float: right;
  width: 50px;
  height: 50px;
  border: 25px solid gray;
  margin: 20px;
  padding: 15px;
  background-color: blue;
}
.box-sizing {
  box-sizing: border-box;
}